<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Everyday email !</p>
    
    <h2>Today's Record</h2>

    <p>Here is the update on your record today!</p>
    <p>Don't forget to check on our website</p>

    <p>Sincerely,</p>
    <p>Team ABC</p>
  </body>
</html>